/* No fallbacks yet */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: black;
}

.circle {
  position: relative;
  height: 520px;
  width: 520px;
  border-radius: 50%;
  background: rgb(233, 9, 194);
}

.circle img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 85%;
  -o-object-fit: contain;
  object-fit: contain;
  pointer-events: none;
}

/* Animating the wave */
.container__lines {
  position: relative;
  height: 520px;
  width: 520px;
  border-radius: 50%;
  overflow: hidden;
}

.container__lines_overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(233, 9, 194);
  background: linear-gradient(
    180deg,
    rgba(233, 9, 194, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.line {
  background: #000;
  margin-top: 18px;
  width: 100%;
  height: 18px;
  pointer-events: none;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.add-waves {
  -webkit-animation: waves 1s linear infinite;
  animation: waves 1s linear infinite;
}

@-webkit-keyframes waves {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-36px);
    transform: translateY(-36px);
  }
}

@keyframes waves {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-36px);
    transform: translateY(-36px);
  }
}

@media only screen and (max-width: 600px) {
  .circle {
    height: 460px;
    width: 460px;
  }
  .container__lines {
    height: 460px;
    width: 460px;
  }
  .line {
    margin-top: 16px;
    height: 16px;
  }
  @-webkit-keyframes waves {
    to {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
  }
  @keyframes waves {
    to {
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);
    }
  }
}

@media only screen and (max-width: 500px) {
  .circle {
    height: 360px;
    width: 360px;
  }
  .container__lines {
    height: 360px;
    width: 360px;
  }
  .line {
    margin-top: 14px;
    height: 14px;
  }
  @-webkit-keyframes waves {
    to {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
    }
  }
  @keyframes waves {
    to {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
    }
  }
}

@media only screen and (max-width: 400px) {
  .circle {
    height: 280px;
    width: 280px;
  }
  .container__lines {
    height: 280px;
    width: 280px;
  }
  .line {
    margin-top: 12px;
    height: 12px;
  }
  @-webkit-keyframes waves {
    to {
      -webkit-transform: translateY(-24px);
      transform: translateY(-24px);
    }
  }
  @keyframes waves {
    to {
      -webkit-transform: translateY(-24px);
      transform: translateY(-24px);
    }
  }
}

@media only screen and (max-width: 300px) {
  .circle {
    height: 200px;
    width: 200px;
  }
  .container__lines {
    height: 200px;
    width: 200px;
  }
  .line {
    margin-top: 9px;
    height: 9px;
  }
  @-webkit-keyframes waves {
    to {
      -webkit-transform: translateY(-18px);
      transform: translateY(-18px);
    }
  }
  @keyframes waves {
    to {
      -webkit-transform: translateY(-18px);
      transform: translateY(-18px);
    }
  }
}

@media only screen and (max-width: 250px) {
  .circle {
    height: 120px;
    width: 120px;
  }
  .container__lines {
    height: 120px;
    width: 120px;
  }
}
/*# sourceMappingURL=vaporwave.css.map */
